.sidebar-wrapper {
  margin-left: 50px;
}

ul.sidebar-menu li {
  list-style: none;
  margin-bottom: 15px;
}

ul.sidebar-menu li a {
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

ul.sidebar-menu li a svg {
  font-size: 20px;
  margin-top: -5px;
}
