.contact-header .navbar {
  position: relative;
  background: transparent;
  box-shadow: none;
}

#Contact-hero {
  background-color: #f9fafc;
}

.contact-hero-wrapper {
  background: url(/public/assets/images/contact-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 150px 0 100px;
  margin-top: -100px;
}

.contact-form {
  padding-left: 240px;
}

.contact-form h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  color: #000000;
  margin-bottom: 20px;
}

.contact-form p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #777777;
}

.contact-form form {
  margin-top: 30px;
}

.contact-img {
  float: right;
}

.contact-img img {
  width: 80%;
  float: right;
}

.contact-shape {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* =======***=======
Responsive CSS
=======***======= */

@media (min-width: 1600px) and (max-width: 1800px) {
  .contact-form {
    padding-left: 140px;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .contact-form {
    padding-left: 80px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .contact-form {
    padding-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact-form {
    padding-left: 50px;
  }

  .contact-form h2 {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-form {
    padding-left: 30px;
  }

  .contact-form h2 {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .contact-hero-wrapper {
    background: none;
  }

  .contact-form {
    padding: 0 20px;
  }

  .contact-form h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .contact-img {
    margin-top: 60px;
  }

  .contact-img img {
    width: 100%;
    float: none;
  }
}
